.App {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
}

.board {
  display: flex;
  flex-direction: column;
  /* grid: repeat(4, 1fr) / repeat(4, 1fr); */
}

.row {
  display: flex;
}

.cell {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid azure;
}

/* Tiles Colors */
.row:nth-child(odd) > .cell:nth-child(odd) {
  background: #e7f2f9;
}

.row:nth-child(even) > .cell:nth-child(even) {
  background: #e7f2f9;
}

.row:nth-child(odd) > .cell:nth-child(even) {
  background: #deebf3;
}

.row:nth-child(even) > .cell:nth-child(odd) {
  background: #deebf3;
}

.row:nth-child(odd) > .cell.hidden:nth-child(odd) {
  background: #dbf0e9;
}

.row:nth-child(even) > .cell.hidden:nth-child(even) {
  background: #dbf0e9;
}

.row:nth-child(odd) > .cell.hidden:nth-child(even) {
  background: #c9e3da;
}

.row:nth-child(even) > .cell.hidden:nth-child(odd) {
  background: #c9e3da;
}
